madigitalmx.com, www.madigitalmx.com {
    handle /Sukhavati-Yoga/* {
        root * /srv/public
        file_server
    }

    @root path /
    redir @root /Sukhavati-Yoga/

    handle_path /api/* {
        reverse_proxy api:3000
    }

    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}
