madigitalmx.com, www.madigitalmx.com {

    # FRONT: carpeta /Reportes-Sukhavati-Yoga dentro de /srv/public
    handle /Reportes-Sukhavati-Yoga/* {
        root * /srv/public
        file_server
    }

    # Redirige raíz a la subcarpeta del front
    @root path /
    redir @root /Reportes-Sukhavati-Yoga/

    # API: NO usar handle_path para no recortar /api
    handle /api/* {
        reverse_proxy http://api:3000
    }

    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}
